
#  InterpretML - Titanic Demo

## Turn your black-box model into a white-box model using InterpretML form Microsoft
<br>

Machine learning (ML) models are often considered “black boxes” due to their complex inner-workings. More advanced ML models such as random forests, gradient boosting machines (GBM), artificial neural networks (ANN), among others are typically more accurate for predicting nonlinear, faint, or rare phenomena. 
Unfortunately, more accuracy often comes at the expense of interpretability, and interpretability is crucial for business adoption, model documentation, regulatory oversight, and human acceptance and trust. Luckily, several advancements have been made to aid in interpreting ML models.

**InterpretML** is an open-source python package for training interpretable models and explaining blackbox systems.
<br><br>
Interpretability is essential for:

**Model debugging** - Why did my model make this mistake?<br>
**Detecting bias** - Does my model discriminate?<br>
**Human-AI cooperation** - How can I understand and trust the model's decisions?<br>
**Regulatory compliance** - Does my model satisfy legal requirements?<br>
**High-risk applications** - Healthcare, finance, judicial, ...<br>
<br>
Historically, the most intelligible models were not very accurate, and the most accurate models were not intelligible. Microsoft Research has developed an algorithm called the **Explainable Boosting Machine (EBM)** which has both high accuracy and intelligibility. EBM uses modern machine learning techniques like bagging and boosting to breathe new life into traditional GAMs (Generalized Additive Models). This makes them as accurate as random forests and gradient boosted trees, and also enhances their intelligibility and editability.

**EBM is a fast implementation of GA2M.**
<br> <br>
EBM and InterpretML: https://github.com/Microsoft/interpret

<img src="https://kwmp.ca/wp-content/uploads/2018/04/titanic-the-musical-1024x538.jpg">

 ## Variables:
 - PassengerId: and id given to each traveler on the boat
 - Pclass: the passenger class. It has three possible values: 1,2,3 (first, second and third class)
 - The Name of the passeger
 - The Sex
 - The Age
 - SibSp: number of siblings and spouses traveling with the passenger
 - Parch: number of parents and children traveling with the passenger
 - The ticket number
 - The ticket Fare
 - The cabin number
 - The embarkation. This describe three possible areas of the Titanic from which the people embark. Three possible values S,C,Q

https://www.kaggle.com/c/titanic
<br><br>
Dataset: 
https://www.kaggle.com/c/titanic/data

## 0. Settings

In [1]:
import sys
sys.version

'3.6.8 |Anaconda, Inc.| (default, Feb 21 2019, 18:30:04) [MSC v.1916 64 bit (AMD64)]'

In [2]:
import pandas as pd

### Installation of interpretML package

In [3]:
#!pip install -U interpret

## 1. Data loading

In [4]:
url="https://raw.githubusercontent.com/retkowsky/titanic/master/train.csv"
df=pd.read_csv(url, index_col=None, na_values=['NA'])

In [5]:
# removing na
df = df.dropna()

In [6]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [7]:
# Removing some variables
df = df.drop(['Cabin','Parch'],axis=1)

In [8]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Ticket,Fare,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,PC 17599,71.2833,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,113803,53.1000,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,17463,51.8625,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,PP 9549,16.7000,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,113783,26.5500,S
...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,11751,52.5542,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,695,5.0000,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,11767,83.1583,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,112053,30.0000,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,111369,30.0000,C

## 2. Statistics

In [9]:
df.describe()

       PassengerId    Survived      Pclass         Age       SibSp        Fare
count   183.000000  183.000000  183.000000  183.000000  183.000000  183.000000
mean    455.366120    0.672131    1.191257   35.674426    0.464481   78.682469
std     247.052476    0.470725    0.515187   15.643866    0.644159   76.347843
min       2.000000    0.000000    1.000000    0.920000    0.000000    0.000000
25%     263.500000    0.000000    1.000000   24.000000    0.000000   29.700000
50%     457.000000    1.000000    1.000000   36.000000    0.000000   57.000000
75%     676.000000    1.000000    1.000000   47.500000    1.000000   90.000000
max     890.000000    1.000000    3.000000   80.000000    3.000000  512.329200

In [10]:
df.corr()

             PassengerId  Survived    Pclass       Age     SibSp      Fare
PassengerId     1.000000  0.148495 -0.089136  0.030933 -0.083488  0.029740
Survived        0.148495  1.000000 -0.034542 -0.254085  0.106346  0.134241
Pclass         -0.089136 -0.034542  1.000000 -0.306514 -0.103592 -0.315235
Age             0.030933 -0.254085 -0.306514  1.000000 -0.156162 -0.092424
SibSp          -0.083488  0.106346 -0.103592 -0.156162  1.000000  0.286433
Fare            0.029740  0.134241 -0.315235 -0.092424  0.286433  1.000000

## 3. Partitionning

In [11]:
col_target=['Survived']
col_df=['Age','Pclass','Sex','Fare','SibSp','Embarked']
X=df[col_df]
y=df[col_target]

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3, random_state=10)

In [13]:
X_train.shape

(128, 6)

In [14]:
X_test.shape

(55, 6)

## 4. InterpretML

### 4.1 Descriptive Statistics

In [15]:
y_train['Survived'].value_counts(normalize=None)

1    86
0    42
Name: Survived, dtype: int64

### Let's use InterpretML to visualize variables distribution and try to detect associations with the target varirable (Survival = 0 or 1)

In [16]:
from interpret import show
from interpret.data import ClassHistogram

hist = ClassHistogram().explain_data(X_train, y_train, name = 'Train Data')
show(hist)

### Let's use an Explanable Boosting Machine method (EBM) to build a model for survival prediction. EBM is a ML algorithm from Microsoft available in the InterpretML package.

### 4.2 EBM (Explanable Boosting Machine) to train a ML for survival prediction

In [17]:
seed = 1

from interpret.glassbox import ExplainableBoostingClassifier, LogisticRegression, ClassificationTree, DecisionListClassifier

ebm = ExplainableBoostingClassifier(random_state=seed)

ebm.fit(X_train, y_train)

ExplainableBoostingClassifier(binning_strategy='uniform',
               data_n_episodes=2000, early_stopping_run_length=50,
               early_stopping_tolerance=1e-05,
               feature_names=['Age', 'Pclass', 'Sex', 'Fare', 'SibSp', 'Embarked'],
               feature_step_n_inner_bags=0,
               feature_types=['continuous', 'continuous', 'categorical', 'continuous', 'continuous', 'categorical'],
               holdout_size=0.15, holdout_split=0.15, interactions=0,
               learning_rate=0.01, max_tree_splits=2,
               min_cases_for_splits=2, n_estimators=16, n_jobs=-2,
               random_state=1, schema=None, scoring=None,
               training_step_episodes=1)

#### 4.2.1 How to understand EBM

#### EBM is not a black box model with the use of InterpretML

In [18]:
ebm_global = ebm.explain_global(name='EBM')
show(ebm_global)

> We can see that people whose age > 80 have more chance to survive. Interesting.

#### 4.2.2 EBM Roc curve

In [19]:
from interpret.perf import ROC

ebm_perf = ROC(ebm.predict_proba).explain_perf(X_test, y_test, name='EBM')
show(ebm_perf)

> AUC = 0.8228

#### 4.2.3 How to understand EBM results for each score (Local interpretation)

> InterpretML will allow us to understand the results of a score. Let us analyze the first 10 rows of our Test dataset in order to understand.

In [21]:
ebm_local = ebm.explain_local(X_test[:10], y_test[:10], name='EBM')
show(ebm_local)

### 4.3 Let's try now with a decision tree and a logistic regresssion

> We will try now to use usual ML models and to compare them with the EBM.

In [22]:
from interpret.glassbox import LogisticRegression, ClassificationTree

# We have to transform categorical variables to use Logistic Regression and Decision Tree
X_enc = pd.get_dummies(X, prefix_sep='.')
feature_names = list(X_enc.columns)
X_train_enc, X_test_enc, y_train, y_test = train_test_split(X_enc, y, test_size=0.20, random_state=seed)

lr = LogisticRegression(random_state=seed, feature_names=feature_names, penalty='l1')
lr.fit(X_train_enc, y_train)

tree = ClassificationTree()
tree.fit(X_train_enc, y_train)

C:\Anaconda\envs\AzureML\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning:

Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.

### 4.4 Validation of these 2 new models

### 4.4.1. ROC

In [23]:
lr_perf = ROC(lr.predict_proba).explain_perf(X_test_enc, y_test, name='Logistic Regression')
tree_perf = ROC(tree.predict_proba).explain_perf(X_test_enc, y_test, name='Classification Tree')

show(lr_perf)

In [24]:
show(tree_perf)

### 4.4.2. Logistic Regression

> We can see that Age in the Logistic Regression is just a linear factor

In [26]:
lr_global = lr.explain_global(name='Logistic Regression')
tree_global = tree.explain_global(name='Decision Tree')

show(lr_global)

### 4.4.2. Decision Tree

> We can see in the decision tree how the variables are used

In [28]:
show(tree_global)

### 4.5 Global dashboard

In [31]:
show([hist, lr_global, lr_perf, tree_global, tree_perf, ebm_global, ebm_perf], share_tables=True)

## 5. Let's create a Black-Box Model
We will do PCA + train a random forest in order to proove that InterpretML can be useful on a blackbox model.

In [32]:
X_enc = pd.get_dummies(X, prefix_sep='.')
feature_names = list(X_enc.columns)

from sklearn.model_selection import train_test_split
seed = 1  
X_train, X_test, y_train, y_test = train_test_split(X_enc, y, test_size=0.20, random_state=seed)

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline

# Let's create a pipeline with PCA + Random Forest as a black Box
pca = PCA()
rf = RandomForestClassifier(n_estimators=100, n_jobs=-1)

blackbox_model = Pipeline([('pca', pca), ('rf', rf)])
blackbox_model.fit(X_train, y_train)

C:\Anaconda\envs\AzureML\lib\site-packages\sklearn\pipeline.py:267: DataConversionWarning:

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Pipeline(memory=None,
     steps=[('pca', PCA(copy=True, iterated_power='auto', n_components=None, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)), ('rf', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
          ..._jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))])

### 5.1 ROC for the Black-Box model

In [34]:
from interpret import show
from interpret.perf import ROC

blackbox_perf = ROC(blackbox_model.predict_proba).explain_perf(X_test, y_test, name='Blackbox')
show(blackbox_perf)

### 5.2 LIME explanations for the Black-Box model

> **LIME** creates a surrogate model locally around the unit who's prediction you wish to understand. 
LIME simply tells you, in a local sense, what is the most important attribute around the data point of interest.

In [35]:
from interpret.blackbox import LimeTabular
from interpret import show

#Blackbox explainers need a predict function, and optionally a dataset
lime = LimeTabular(predict_fn=blackbox_model.predict_proba, data=X_train, random_state=1)

#Pick the instances to explain, optionally pass in labels if you have them
lime_local = lime.explain_local(X_test[:10], y_test[:10], name='LIME')

show(lime_local)

### 5.3 SHAP Explanations for the Black-Box model

> **SHAP (SHapley Additive exPlanations)** is a unified approach to explain the output of any machine learning model. SHAP connects game theory with local explanations.

In [36]:
from interpret.blackbox import ShapKernel
import numpy as np

background_val = np.median(X_train, axis=0).reshape(1, -1)
shap = ShapKernel(predict_fn=blackbox_model.predict_proba, data=background_val, feature_names=feature_names)
shap_local = shap.explain_local(X_test[:5], y_test[:5], name='SHAP')
show(shap_local)

  0%|                                                                                            | 0/5 [00:00<?, ?it/s]C:\Anaconda\envs\AzureML\lib\site-packages\shap\explainers\kernel.py:545: UserWarning:

l1_reg="auto" is deprecated and in the next version (v0.29) the behavior will change from a conditional use of AIC to simply "num_features(10)"!

 20%|████████████████▊                                                                   | 1/5 [00:00<00:01,  3.99it/s]C:\Anaconda\envs\AzureML\lib\site-packages\shap\explainers\kernel.py:545: UserWarning:

l1_reg="auto" is deprecated and in the next version (v0.29) the behavior will change from a conditional use of AIC to simply "num_features(10)"!

 40%|█████████████████████████████████▌                                                  | 2/5 [00:00<00:00,  4.12it/s]C:\Anaconda\envs\AzureML\lib\site-packages\shap\explainers\kernel.py:545: UserWarning:

l1_reg="auto" is deprecated and in the next version (v0.29) the behavior will change from a conditional use of AIC to simply "num_features(10)"!

 60%|██████████████████████████████████████████████████▍                                 | 3/5 [00:00<00:00,  4.25it/s]C:\Anaconda\envs\AzureML\lib\site-packages\shap\explainers\kernel.py:545: UserWarning:

l1_reg="auto" is deprecated and in the next version (v0.29) the behavior will change from a conditional use of AIC to simply "num_features(10)"!

 80%|███████████████████████████████████████████████████████████████████▏                | 4/5 [00:01<00:00,  3.54it/s]C:\Anaconda\envs\AzureML\lib\site-packages\shap\explainers\kernel.py:545: UserWarning:

l1_reg="auto" is deprecated and in the next version (v0.29) the behavior will change from a conditional use of AIC to simply "num_features(10)"!

100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  3.85it/s]

### 5.4 Sensitivity global for the Black-Box model

> **Sensitivity analysis** is used to estimate the influence of uncertainty factors on the output of a function. The Morris method is sometimes referenced to as a qualitative method : it gives rough estimations with a limited number of calculations. The Morris method can be used to simplify a function, as a first step. It can identify the factors with a low influence which can be fixed.

In [37]:
from interpret.blackbox import MorrisSensitivity

sensitivity = MorrisSensitivity(predict_fn=blackbox_model.predict_proba, data=X_train)
sensitivity_global = sensitivity.explain_global(name="Global Sensitivity")

show(sensitivity_global)

### 5.5 Partial Dependence for the Black-Box model

In [38]:
from interpret.blackbox import PartialDependence

pdp = PartialDependence(predict_fn=blackbox_model.predict_proba, data=X_train)
pdp_global = pdp.explain_global(name='Partial Dependence')

show(pdp_global)

### 5.6 Dashboard for the Black-Box model

In [39]:
show([blackbox_perf, lime_local, shap_local, sensitivity_global, pdp_global])

> End

<img src="https://apps.xmpro.com/wp-content/uploads/2017/10/Azure-ML-Logo.jpg" width="200">